body {
  background-color: yellowgreen;
}

.box {
  background-color: aquamarine;
  margin: 50px;
  padding-top: 30px;
  margin-top: 100px;
  margin-left: 450px;
  margin-right: 450px;
  border-radius: 20px;
  border-style: groove;
}

input[type="text"] {
  border-radius: 5px;
  width: 230px;
  height: 20px;
}

input[type="text"]:hover {
  background-color: rgb(184, 244, 184);
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
  margin: 5px;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
